$border-radius: 1.25rem;

.card {
  min-width: 180px;
  border-radius: 1.25rem;
  position: relative;
  border: none;

  img {
    width: 180px;
    height: 278px;
    border-radius: $border-radius;
    background-color: #333;
    object-fit: cover;
  }

  .card-body {
    position: absolute;
    bottom: 0;
    border-radius: $border-radius;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
