<nav class="navbar navbar-expand fixed-top container-fluid navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies" routerLinkActive="active-route">Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/info" routerLinkActive="active-route">Documentation</a>
    </li>
  </ul>
</nav>