<div
  class="card p-0 container-fluid"
  id="modal-container"
  [@openClose]="this.active ? 'open' : 'closed'"
>
  <div
    class="row p-4 mx-0 bg-dark justify-content-between d-flex flex-row text-white card-head"
    *ngIf="this.movie"
  >
    <h4 class="text-truncate pb-4">{{ movie.title }}</h4>
    <div (click)="this.toggleShow()" id="icon-container">
      <i class="fa fa-times-circle fa-lg"></i>
    </div>
  </div>
  <div
    class="row w-100 m-0 card-body p-0 bg-dark text-white"
    *ngIf="this.movie"
  >
    <div class="row px-0 m-0">
      <div
        class="col-lg-4 py-1 mb-3 col-sm-12 d-flex align-items-center justify-content-center"
      >
        <img
          src="http://image.tmdb.org/t/p/w185_and_h278_bestv2{{
            movie.poster_path
          }}"
          onerror="this.src='https://www.myfirestorm.com/l/img/placeholder-img.jpg'"
        />
      </div>
      <div class="col-lg-8 col-sm-12 d-flex flex-column px-4 py-1">
        <movie-modal-meta
          [text]="movie.vote_average"
          [class]="'fa-star text-primary'"
        ></movie-modal-meta>
        <movie-modal-meta
          [text]="movie.vote_count"
          [class]="'fa-user text-primary'"
        ></movie-modal-meta>
        <movie-modal-meta
          [text]="movie.release_date"
          [class]="'fa-calendar text-primary'"
        ></movie-modal-meta>
        <movie-modal-meta
          [text]="movie.original_language"
          [class]="'fa-language text-primary'"
        ></movie-modal-meta>
        <p class="mt-2">{{ movie.overview }}</p>
      </div>
    </div>
  </div>
</div>
