.card {
  position: fixed !important;
  top: 10%;
  left: 5%;
  width: 90%;
  max-height: 80%;
  border-radius: 1.25rem;
  border: none;
  z-index:3;
  box-shadow: "2px 2px 12px rgba(60,67,111, 1)" !important;
}
.card-head {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  div > i:hover {
    cursor: pointer;
  }
}

.card-body {
  width: 95%;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;

}
img {
  width: 180px;
  height: 278px;
  background-color: #333;
  object-fit: cover;
}

#icon-container{
  min-width: 18.3px;
}
