<div class="d-flex align-items-center m-0 h-100" *ngIf="!this._movies">
  <movie-loading></movie-loading>
</div>

<div class="container-fluid" *ngIf="this._movies">
  <div class="d-flex justify-content-center flex-wrap movie-carousel">
    <movie-movie-card (selectMovie)="selectMovie(movie)" *ngFor="let movie of this._movies" [movie]="movie"></movie-movie-card>
  </div>
  <movie-modal #movieModal [movie]="this.selectedMovie"></movie-modal>
</div>