<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <movie-header></movie-header>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-top: 56px">
    <router-outlet></router-outlet>
  </div>
</div>