@import "./variables";

$body-bg: $bg-body-color;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/css/font-awesome.css";

#mdFiles {
    background-color: #F5F5F5;
    h1,
    h2 {
      font-size: 1.8rem;
      height: auto;
      font-weight: bold;
      padding: 0.8rem 0;
      margin-bottom: 30px;
    }

    h1 {
      margin-top: -15px;
      text-align: center;
    }
  
    h2 {
      margin-top: 2rem;
      border-bottom: solid thin;

    }
    pre {
      background-color: #201a1c;
      color: white;
      padding: 1rem;
      border-radius: 1.25rem;
      overflow-x: auto;
      width: 100%;
    }
    p {
      font-weight: 500;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: bold;
    }
    code {
      margin-top: -2.5rem;
    }
}


